<div class="row">
    <div class="col-md-6">
        <div class="chart-graph">
            <h4>Nonprofits in Selected Region: {{ nearby.areaTotal }}</h4>
            <div id="bar-chart-nearby-area"><svg></svg></div>
        </div>
    </div> <!-- /.col -->
    <div class="col-md-6">
        <div class="chart-graph">
            <h4>Nonprofits in City of Philadelphia: {{ nearby.stateTotal }}</h4>
            <div id="bar-chart-nearby-state"><svg></svg></div>
        </div>
    </div> <!-- /.col -->
</div>
