.brand {
	padding: 0 20px;
	width: auto;
	position: relative;
    display: inline-block;
    vertical-align: middle;
	z-index: 10;
    margin-top: -5px;
    margin-bottom: -5px;
    max-width: 250px; // firefox bug fix

    img {
        max-width: 100%;
    }
}
