<div class="map-container">
    <div class="vis-controls">
        <div viz-filter-control ng-if="vis.filterControl"></div>
        <div class="vis-control vis-layer-selector"
            ng-class="{ 'visible': vis.layersVisible }"
            ng-if="vis.sublayers.length">
            <div class="vis-control-button"
                ng-click="vis.layersVisible = !vis.layersVisible"
                uib-tooltip="Apply Demographic Layers"
                tooltip-placement="left"
                tooltip-enable="!vis.layersVisible">
                <i class="md-icon-layers"></i>
                <span ng-show="vis.layersVisible">Demographics</span>
            </div>
            <div class="vis-control-body"
                ng-show="vis.layersVisible">
                <ul>
                    <li ng-repeat="sublayer in vis.sublayers">
                        <label>
                            <input type="radio"
                                ng-model="vis.radio"
                                value="{{ $index }}"
                                ng-change="vis.onSublayerChange(sublayer, $index)">
                                {{ vis.demographicsConfig[$index].title }}
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio"
                                ng-model="vis.radio"
                                value="-1"
                                ng-change="vis.onSublayerChange(null)"> Off
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div area-analysis-control ng-if="vis.drawControl"></div>
    </div>
    <div id="vis-popover"></div>
    <div id="map"></div>
    <div class="cartodb-fullscreen" uib-tooltip="Expand map view" tooltip-placement="left"><a ng-click="vis.onFullscreenClicked()"></a></div>
    <div class="vis-legends"></div>
</div> <!-- /.map-container -->
