.navbar.action-bar {
    background: $white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    min-height: 76px;

    nav, .nav {
        display: inline-block;
        vertical-align: middle;

        a {
            @include font-size(15);
            padding: 15px;
        }

        .active {
            color: $base-darker;
        }
    }

    .action-group {
        display: block;
        position: relative;
        margin-top: 5px;

        input.form-control {
            display: block;
            width: 100%;
            border-radius: 100px;
            padding-right: 25px;
            background-color: $off-white;
        }

        button.form-control {
            border-radius: 0 100px 100px 0;
            position: absolute;
            top: 0;
            right: -25px;
            border-left: 1px solid $border-color;
            width: auto;
            display: inline-block;
            background-color: $off-white;
        }
    }
}
