<div class="secondary-page">
    <div class="navbar action-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-7">
                    <imls-brand></imls-brand>
                    <nav>
                        <a class="active" ui-sref="about">About</a>
                        <a ui-sref="help">Getting Started</a>
                        <a ui-sref="contact">Contact</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-xs-push-2">
                    <div class="content-title text-center">
                        <img class="museum-logo" src="/images/impact-view-logo.png">
                        <h2>About ImpactView</b></h2>
                    </div>
                    <p>ImpactView Philadelphia is a powerful online resource to support a better understanding of Philadelphia’s nonprofit ecosystem. ImpactView Philadelphia helps nonprofit organizations, philanthropies, and community leaders identify needs and opportunities, explore areas of collaboration, and develop programs and services based on measures of community health.</p>

                    <p>ImpactView Philadelphia visualizes important data on nonprofit organizations combined with individual and household data in an intuitive and user-friendly format.</p>

                    <div class="content-title">
                        <h3>About the data</h3>
                    </div>
                    <p>ImpactView Philadelphia uses publicly available data on nonprofit organizations through the Internal Revenue Service’s new machine-readable data portal and Business Master File comprising more than 2,300 nonprofit organizations within the city limits. This data is combined with the most recent American Community Survey data released by the U.S. Census Bureau, which is updated annually and provides detailed information at the census tract level. These data sources are combined into a mapping and visualization interface that is free, public, and easy to use.</p>

                    <div class="content-title">
                        <h3>About the Creators</h3>
                    </div>
                    <p>ImpactView Philadelphia is a project of <a href="//drexel.edu/westphal/academics/graduate/AADM/">Drexel University’s graduate Arts Administration</a> program. The project is led by professor and research director <a href="//drexel.edu/westphal/about/directory/VakhariaNeville/">Neville Vakharia</a>. ImpactView Philadelphia was supported by a Digital Impact Grant from the Stanford Center for Philanthropy and Civil Society, funded by the Bill and Melinda Gates Foundation. Software development by <a href="https://www.azavea.com">Azavea</a>.</p>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </section> <!-- /.main-content -->

    <imls-footer></imls-footer>
</div>
