<footer>
    <div class="footer-section-secondary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <h3>A Research Project Of:</h3>
                    <a class="logo" href="http://drexel.edu/westphal/graduate/AADM/" target="_blank">
                        <img srcset="/images/2x/westphal-logo@2x.png 2x" src="/images/westphal-logo.png" >
                    </a>
                </div>
                <div class="col-xs-3">
                    <h3>Supported by:</h3>
                    <a class="logo" href="https://pacscenter.stanford.edu/" target="_blank">
                        <img src="/images/stanford-pacs-logo-white.png" >
                    </a>
                </div>
                <div class="col-xs-3">
                    <h3>Software Development by:</h3>
                    <a class="logo" href="https://azavea.com" target="_blank">
                        <img src="/images/azavea-logo.png" >
                    </a>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </div>
</footer> <!-- /footer -->
