<div class="secondary-page">
    <div class="navbar action-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-7">
                    <imls-brand></imls-brand>
                    <nav>
                        <a ui-sref="about">About</a>
                        <a ui-sref="help">Getting Started</a>
                        <a class="active" ui-sref="contact">Contact</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-xs-push-2">
                    <div class="content-title text-center">
                        <img class="museum-logo" src="/images/impact-view-logo.png">
                        <h2>Contact Us</h2>
                        <hr>
                    </div>
                    <p>ImpactView Philadelphia is a powerful tool created to serve the nonprofit and philanthropic sectors within Philadelphia. We rely on your feedback to make improvements and enhancements that will benefit users.</p>
                    <p>Contact Us to share your feedback, questions, or comments. If you are interested in seeing ImpactView in another city or region, we would like to hear from you.

                    <hr>
                    <a href="mailto:info@impactview.org" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
        </div> <!-- /.container-fluid -->
    </section> <!-- /.main-content -->

    <imls-footer></imls-footer>
</div>
